{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Продукты</title>
</head>
<body>
<!--{% block content %}-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>Название</td>-->
<!--        <td>Описание</td>-->
<!--        <td>Цена</td>-->
<!--    </tr>-->
<!--    {% for el in object_list %}-->
<!--    <tr>-->
<!--        <td>{{ el.name }}</td>-->
<!--        <td>{{ el.description }}</td>-->
<!--        <td>{{ el.price }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->
<!--{% endblock %}-->

<!-- <p>Добавление продукта:</p>-->
<!--<form id="form">-->
<!--    <p>Название: <input type="text" id="name" name="name"></p>-->
<!--    <p>Описание: <input type="text" id="description" name="description"></p>-->
<!--    <p>Цена: <input type="number" id="price" name="price"></p>-->
<!--    <input type="submit" value="Отправить">-->
<!--</form>-->
<!--<script src="{% static 'js/add.js' %}"></script>-->

<div id="data-container"></div>

<script src="{% static 'js/get.js' %}"></script>

</body>
</html>
